/*
Paul Scott
11 April 2019

mobile styles
 */
@media (max-width: 720px) {

  /* reset styles */
  * {
    padding: 0;
    margin: 0;
    border: 0;
    --foreground: 2;
    --background: 1;
  }

  /* website body */
  body {
    width: 100%;
    height: 100%;
    background: #daebef;
    font-family: 'Staatliches', cursive;
  }

  /* links */
  a, a:visited {
    color: #888;
    text-decoration: none;
  }

  /* hovered links */
  a:hover {
    color: lightgray;
    text-decoration: none;
  }

  /* chip8 display */
  canvas {
    display: block;
    width: 90%;
    margin: auto;
    background: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  }

  /* navigation bar */
  nav {
    line-height: 2em;
  }

  /* navigation links */
  nav a {
    margin: 0 0.5em 0 0.5em;
    font-size: 1.4em;
  }

  /* content container */
  #content {
    z-index: 1;
    margin-top: 4em;
    width: 100%;
  }

  /* header */
  #header {
    z-index: var(--foreground);
    height: 7em;
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  /* website logo */
  #header img {
    display: inline-block;
    margin-top: 0.5em;
    height: 4em;
  }

  /* single key on keypad */
  .key {
    flex: 25%;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    margin: 0.1em;
    border-radius: 0.5em;
    background: #555;
    color: white;
    font-size: 36px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  /* keypad container */
  #keypad {
    position: fixed;
    height: auto;
    z-index: -1;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1em;
    width: 90%;
  }

  /* rom list container */
  #rom_list {
    z-index: var(--foreground);
    display: none;
    position: absolute;
    background: white;
    padding: 2em;
    top: 7em;
    width: calc(100% - 4em);
    height: 16em;
    line-height: 1.5;
    overflow-y: scroll;
    border-top: solid 2px lightgray;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10);
  }

  /* rom list element */
  #rom_list li {
    list-style-type: none;
    font-size: 1.5em;
  }

  /* spacing at bottom of rom list */
  #rom_list:after {
    content: "";
    display: block;
    height: 2em;
  }

  /* keypad row */
  .row {
    display: flex;
    width: 100%;
    height: 4em;
  }

  /* hidden components */
  #content img, #controls, #ctrl, #footer {
    display: none
  }
}