* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    background: white;
    font-family: 'Staatliches', cursive;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgray;
    text-decoration: none;
}

@media (min-width: 720px) {

    canvas {
        position: absolute;
        top: 6.8em;
        left: 16.2em;
        margin: auto;
        width: 320px;
        height: 160px;
        background: black;
    }

    /* hamburger menu button styling */
    .bar1, .bar2, .bar3 {
        z-index: 3;
        width: 3em;
        height: 0.4em;
        border-radius: 0.4em;
        margin: 0.4em 0;
        background: #666;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
        transition: 0.2s;
    }

    /* hamburger menu button animation */
    .change .bar1 {
        transform: translate(-0.1em, 0.8em) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(-0.1em, -0.8em) rotate(45deg);
    }

    #content {
        position: relative;
        z-index: 1;
        margin-top: 8vh;
        min-width: 55em;
        max-width: 55em;
        height: auto;
    }

    #content img {
        position: relative;
        width: 100%;
    }

    #controls {
        position: relative;
        padding: 6em;
        min-width: 40em;
        max-width: 55em;
        line-height: 1.5;
    }

    #controls p {
        font-size: 36px;
    }

    #controls ul {
        font-size: 36px;
        padding-left: 1em;
    }

    #controls img {
        display: block;
        margin: auto;
        max-height: 20em;
    }

    /* footer */
    #footer {
        position: fixed;
        z-index: 0;
        bottom: 0;
        padding: 1em;

        /* font */
        font-size: 18px;
        color: #666;
    }

    #keypad { display: none }

    #main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    /* hamburger menu button */
    #menu_button {
        display: inline-block;
        z-index: 3;
        cursor: pointer;
        position: fixed;
        top: 0;
        left: 0;
        width: 3em;
        height: 3em;
        margin-top: 2em;
        margin-left: 2em;
    }

    #rom_list {
        display: none;
        position: absolute;
        top: 30em;
        left: 20.82em;
        background-image: url('../img/disk.svg');
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        width: 11em;
        height: 11em;
        padding: 1em;
        overflow-y: auto;
    }

    #rom_list li {
        list-style-type: none;
        font-size: 20px;
    }

    #rom_list a, #rom_list a:visited {
        color: white;
    }

    #rom_list a:hover {
        color: #BBB;
    }

    #roms_button, #roms_button:hover {
        position: absolute;
        text-align: center;
        font-family: 'Staatliches', cursive;
        width: 3.5em;
        height: 5.25em;
        top: 27.4em;
        left: 25.5em;
        background: #25262D;
        color: #888;
    }

    #roms_button, #roms_button a:hover {
        color: #666;
    }

    /* slide menu */
    #slide_menu {
        position: fixed;
        display: block;
        z-index: 2;
        width: 20em;
        height: 100%;
        overflow-x: hidden;
        padding-top: 8em;
        text-align: left;
        line-height: 2;
        top: 0;
        left: -21em;
        background: #AAA;
        transition: 0.2s;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.25);
    }

    /* links in slide menu */
    #slide_menu a {
        display: block;
        font-size: 36px;
        margin-left: 1em;
        transition: 0.2s;
    }
}

@media (max-width: 720px) {

    canvas {
        display: block;
        margin: auto;
        width: 320px;
        height: 160px;
        background: black;
    }

    /* hamburger menu button styling */
    .bar1, .bar2, .bar3 {
        z-index: 3;
        width: 2em;
        height: 0.3em;
        border-radius: 0.3em;
        margin: 0.3em 0;
        background: #666;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
        transition: 0.2s;
    }

    /* hamburger menu button animation */
    .change .bar1 { transform: translate(-0.05em, 0.4em) rotate(-45deg) }

    .change .bar2 { opacity: 0 }

    .change .bar3 { transform: translate(-0.05em, -0.8em) rotate(45deg) }

    #content {
        z-index: 1;
        margin-top: 6em;
        width: 100%;
    }

    #content img { display: none }

    #controls {
        position: relative;
        padding: 2em;
        margin-top: 2em;
        width: 100%;
        line-height: 1.5;
    }

    #controls p {
        font-size: 16px;
    }

    #controls ul {
        font-size: 16px;
        padding-left: 1em;
    }

    #controls img {
        display: block;
        width: 100%;
    }

    /* footer */
    #footer { display: none }

    .key {
        flex: 25%;
        height: 2.5em;
        line-height: 2.5em;
        text-align: center;
        margin: 0.2em;
        border-radius: 0.5em;
        background: #666;
        color: white;
        font-size: 20px;
    }

    .key:hover { color: white }

    #keypad {
        position: fixed;
        height: auto;
        z-index: -1;
        display: block;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 1em;
        width: 90%;
    }

    #main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    /* hamburger menu button */
    #menu_button {
        display: inline-block;
        z-index: 3;
        cursor: pointer;
        position: fixed;
        top: 0;
        left: 0;
        width: 2em;
        height: 2em;
        margin-top: 1em;
        margin-left: 1em;
    }

    #rom_list {
        display: none;
        margin: 0.5em auto 0.5em auto;
        border: 2px solid #4fff95;
        background: lightgray url('../img/disk.svg');
        width: 11em;
        height: 11em;
        padding: 1em;
        overflow-y: auto;
    }

    #rom_list li {
        list-style-type: none;
        font-size: 20px;
    }

    #roms_button {
        display: block;
        margin: 1em auto 1em auto;
        text-align: center;
        line-height: 2em;
        font-family: 'Staatliches', cursive;
        width: 8em;
        height: 2em;
        border-radius: 2em;
        background: #666;
    }

    .row {
        display: flex;
        width: 100%;
        height: 4em;
    }

    /* slide menu */
    #slide_menu {
        position: fixed;
        display: block;
        z-index: 2;
        width: 15em;
        height: 100%;
        overflow-x: hidden;
        padding-top: 4em;
        text-align: left;
        line-height: 2;
        top: 0;
        left: -21em;
        background: #AAA;
        transition: 0.2s;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.25);
    }

    /* links in slide menu */
    #slide_menu a {
        display: block;
        font-size: 24px;
        margin-left: 1em;
        transition: 0.2s;
    }
}
