h1 {
  color: white;
  font-size: 20px;
  padding-bottom: 0.5em;
}

#rom_list {
  width: 90%;
  margin: auto;
  height: 20em;
  overflow-y: auto;
  border-radius: 1em;

  @media screen and (max-width: 700px) {
    height: 85%;
  }
}

.rom {
  background: #88888833;
  color: white;
  padding: 1em;

  &:nth-child(odd) {
    background: #66666633;
  }

  &:active {
    background: #44444433;
  }
}
