<div id="header" [class.show_menu]="showDropDown">
  <!-- logo -->
  <img src="../../../assets/img/logo.svg" alt="Silicon Eight">
  <div id="rom_control_container" [class.show_rom_control]="showDropDown">
    <app-rom-list id="desktop_rom_list"></app-rom-list>
    <app-rom-list (click)="toggleMenu()" id="mobile_rom_list"></app-rom-list>
    <app-controls></app-controls>
  </div>

  <div class="menu_icon" (click)="toggleMenu()">
    <div class="menu_icon_bar" [class.rotate]="showDropDown"></div>
    <div class="menu_icon_bar" [class.rotate]="showDropDown"></div>
  </div>
</div>
