app-controls {
  @media screen and (max-width: 700px) {
    display: none;
  }
}

nav {
  float: right;
  line-height: 3em;

  a, a:visited {
    margin: 0 0.7em 0 0.7em;
    font-size: 1.4em;
    color: whitesmoke;
    text-decoration: none;

    &:hover {
      transition: 0.3s;
      color: lightgray;
      text-decoration: none;
    }
  }
}

#desktop_rom_list {
  @media screen and (max-width: 700px) {
    display: none;
  }
}

#mobile_rom_list {
  @media screen and (min-width: 700px) {
    display: none;
  }
}

#rom_control_container {
  @media screen and (max-width: 700px) {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
}

#header {
  position: fixed;
  z-index: 2;
  background: #00000088;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: 0.3s;

  @media screen and (min-width: 700px) {
    height: 100vh;
    width: 20em;
    left: 0;
    overflow-y: auto;

    img {
      width: 90%;
      margin: 1em auto;
    }
  }

  @media screen and (max-width: 700px) {
    top: 0;
    width: 100%;
    height: 13vh;
    border-radius: 0 0 1em 1em;

    img {
      height: 8vh;
    }
  }
}

.menu_icon {
  @media screen and (min-width: 700px) {
    display: none;
  }

  @media screen and (max-width: 700px) {
    width: 5vh;
    margin: 0 auto;
  }
}

.menu_icon_bar {
  width: 100%;
  height: 0.4vh;
  background: white;
  transition: 0.3s;

  &:nth-child(1) {
    margin-top: 0.6vh;
  }

  &:nth-child(2) {
    margin-top: 1vh;
  }
}

.rotate {
  &:nth-child(1) {
    transform: translate(0, 0.3em);
  }

  &:nth-child(2) {
    transform: translate(0, -0.3em);
  }
}

.show_menu {
  height: 51vh !important;
}

.show_rom_control {
  height: 38vh !important;
}
