h1 {
  color: white;
  font-size: 20px;
  padding: 1em 0 0.5em 0;
}

#controls {
  width: 90%;
  margin: auto;
  max-height: 20em;
  overflow-y: auto;
  border-radius: 1em;
}

.game_controls {
  background: #88888833;
  color: white;
  padding: 1em;

  &:nth-child(odd) {
    background: #66666633;
  }

  &:active {
    background: #44444433;
  }
}
