@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  @media screen and (min-width: 700px) {
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }

  background: url('assets/img/background.jpg') no-repeat center;
  background-size: auto auto;
  font-family: 'Lexend Deca', Arial, sans-serif;
}
